# =========================
# Entornos virtuales
# =========================
.venv/
venv/
env/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
desktop.ini
__MACOSX/

# =========================
# Otros
# =========================
*.tmp
*.bak
